.bannerInicio{ /*imagen de inicio*/
    width: 100%;
    height: 450px;
    background-image: url('../imagenes/viñas.jpg');
    background-position: center center;
    background-size: cover;

    .buttonInicio{ /*boton ver productos*/
        font-family: "Niramit", sans-serif;
        font-size: 16px;
        font-weight: bold;
        background-color: black;
        margin-top: 200px;
        margin-left: 20%;
        border: #333;
        width: 200px;
        height: 50px;
    }
}

@media (max-width: 800px){
    .bannerInicio{
        height: 66vh;
    }
}

