.grillasPedidos{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-column-gap: 5px;
    grid-row-gap: 14px;
    justify-content: space-around;
    margin-bottom: 2%;
    margin-left: 5px;
    margin-right: 5px;

    .pedidoOrden{
        background-color: #a2453d;
        color: bisque;
        font-family: "Niramit", sans-serif;
        padding-left: 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 8px;
        box-shadow: 0 5px 5px #333;
    }

}



