@charset "UTF-8";
/*Generales*/
* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Niramit", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: bisque;
}

body {
  background-color: bisque;
}

@-webkit-keyframes efectoImagen {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  25% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  50% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes efectoImagen {
  0% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  25% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  50% {
    -webkit-transform: rotateX(270deg);
            transform: rotateX(270deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

header {
  background-color: #a2453d;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  color: bisque;
  font-size: 60px;
  margin-left: 50px;
  margin-top: 50px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

header #apertura {
  /*logo de la empresa*/
  margin-left: 10px;
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-left: 50px;
  -webkit-animation-name: efectoImagen;
          animation-name: efectoImagen;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

header .imgHeader {
  display: none;
}

/*MENU GENERAL*/
#btn-menu {
  display: none;
}

.labelMenu {
  display: none;
  height: 30px;
  width: 100%;
  padding-bottom: 38px;
  padding-right: 20px;
  background-color: #333;
}

.labelMenu .lista {
  width: 30px;
  height: 30px;
  margin-left: 8px;
  margin-top: 5px;
}

.menuPrincipal {
  z-index: 500;
}

.menuPrincipal ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #333;
}

.menuPrincipal ul li a {
  display: block;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
}

.menuPrincipal ul li:hover {
  background-color: #a2453d;
}

@media (max-width: 780px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 18vh;
  }
  header h1 {
    font-size: 30px;
    margin-top: 60px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    text-align: center;
  }
  header #apertura {
    display: none;
    width: 50px;
    height: 50px;
    margin-left: 0px;
  }
  header .imgHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .inicioSesion a {
    display: none;
  }
  .labelMenu {
    display: block;
    height: 6vh;
  }
  .labelMenu .lista {
    margin-top: 1%;
  }
  .labelMenu:hover {
    cursor: pointer;
  }
  .menuPrincipal {
    position: absolute;
    background-color: #333;
    width: 70%;
    margin-left: -70%;
    z-index: 500;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menuPrincipal ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #btn-menu:checked ~ .menuPrincipal {
    margin: 0;
  }
}

@media (max-width: 640px) {
  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 18vh;
  }
  header h1 {
    font-size: 28px;
    margin-top: 40px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    text-align: center;
  }
  header #apertura {
    display: none;
    width: 50px;
    height: 50px;
    margin-left: 0px;
  }
  header .imgHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .inicioSesion a {
    display: none;
  }
  .labelMenu {
    height: 6vh;
  }
  .labelMenu .lista {
    margin-top: 1%;
  }
  .menuPrincipal {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

footer .parrafoFooter2 {
  font-family: "Niramit", sans serif;
  font-weight: 500;
  font-size: 0.7rem;
  color: gray;
  margin-top: 1%;
}

footer .parrafoRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .parrafoRedes .parrafoFooter {
  font-family: "Niramit", sans serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: gray;
  letter-spacing: 18px;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding-top: 3%;
}

footer .parrafoRedes .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin-bottom: 5px;
}

@media (max-width: 780px) {
  .grillasPieInicio {
    height: 8vh;
  }
  .grillasPieInicio .redes {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
  }
  .grillasPieInicio .parrafoFooter {
    display: none;
  }
}

@media (max-width: 640px) {
  .grillasPieInicio {
    height: 8vh;
  }
  .grillasPieInicio .redes {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
  }
  .grillasPieInicio .redes .pieDePagina {
    width: 25px;
    height: 25px;
  }
  .grillasPieInicio .parrafoFooter {
    display: none;
  }
}

.bannerInicio {
  /*imagen de inicio*/
  width: 100%;
  height: 450px;
  background-image: url("../imagenes/viñas.jpg");
  background-position: center center;
  background-size: cover;
}

.bannerInicio .buttonInicio {
  /*boton ver productos*/
  font-family: "Niramit", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: black;
  margin-top: 200px;
  margin-left: 20%;
  border: #333;
  width: 200px;
  height: 50px;
}

@media (max-width: 780px) {
  .bannerInicio {
    height: 68vh;
  }
  .bannerInicio .buttonInicio {
    height: 15%;
    width: 37%;
    margin-top: 55%;
    margin-left: 5%;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .bannerInicio .buttonInicio a {
    font-size: 1rem;
  }
}

.container {
  width: 800px;
  margin: 45px 0;
  display: felx;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .parrafoNosotros {
  margin-top: 25px;
  margin-left: 20%;
  font-family: "Niramit", sans-serif;
  font-size: 16px;
}

h2 {
  font-family: "Niramit", sans-serif;
  font-size: 35px;
  margin-left: 90px;
  margin-top: 25px;
}

.articulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #333;
  border-radius: 20px;
}

.articulos .containerPresentacion {
  background-color: #bb6942;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
  width: 25%;
  background-color: #a2453d;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 10px -6px #3b3737;
          box-shadow: 0px 10px 10px -6px #3b3737;
  background-color: #bb6942;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.articulos .containerPresentacion:hover {
  background-color: bisque;
}

.articulos .containerPresentacion .fotosPresentacionRomi {
  width: 110px;
  height: 109px;
  border-radius: 20px;
}

.articulos .containerPresentacion .presentacionParrafosNosotros {
  font-family: "Niramit", sans-serif;
  font-size: 14px;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
}

.articulos .containerPresentacion .tituloNombreNosotros {
  font-family: "Niramit", sans-serif;
  color: bisque;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

@media (min-widht: 1366px) {
  .articulos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articulos .containerPresentacion {
    width: 80%;
  }
  .articulos .containerPresentacion .presentacionParrafosNosotros {
    font-size: 20px;
    font-weight: 300;
  }
  h2 {
    font-size: 40px;
    margin-left: 5%;
  }
  .container {
    width: 100%;
  }
  .container .parrafoNosotros {
    margin-left: 5%;
    font-size: 23px;
  }
}

@media (max-width: 780px) {
  .articulos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articulos .containerPresentacion {
    width: 95%;
  }
  .articulos .containerPresentacion .presentacionParrafosNosotros {
    font-size: 16px;
  }
  h2 {
    font-size: 22px;
    margin-left: 6%;
  }
  .container {
    width: 100%;
  }
  .container .parrafoNosotros {
    margin-left: 5%;
    font-size: 18px;
  }
}

.contenedorIniciarSesion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contenedorIniciarSesion .parteRegistrarse {
  background-color: #a2453d;
  height: 440px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contenedorIniciarSesion .parteRegistrarse .tituloParteRegistrarse {
  font-family: "Niramit", sans serif;
  font-size: 35px;
  margin-left: 25px;
  margin-top: 100px;
  margin-bottom: 20px;
  color: bisque;
}

.contenedorIniciarSesion .parteRegistrarse .parrafoRegistrarse {
  font-size: 16px;
  font-family: "Niramit", sans-serif;
  margin-bottom: 40px;
  color: white;
}

.contenedorIniciarSesion .parteRegistrarse .botonRegistrarse {
  background-color: transparent;
  border-color: #FFFFFF;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
  font-family: "Niramit", sans-serif;
}

.parteIniciarSesion {
  background-color: white;
  height: 440px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin-top: 10%;
  margin-bottom: 10%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.parteIniciarSesion .tituloIniciarSesion {
  font-family: "Niramit", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 10px;
}

.parteIniciarSesion .parrafoIniciarSesion {
  font-size: 16px;
  font-family: "Niramit", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.parteIniciarSesion .formularioIniciarSesion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.parteIniciarSesion .formularioIniciarSesion .inputIniciarSesion {
  background-color: #eee;
  border: none;
  padding: 8px;
  margin: 8px 0;
  width: 200px;
  font-family: "Niramit", sans-serif;
}

.parteIniciarSesion .botonIniciarSesion {
  border-radius: 20px;
  border: 1px solid #a2453d;
  background-color: #a2453d;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
  font-family: "Niramit", sans-serif;
  transition: transform 80ms ease-in;
}

.imagenIniciarSesion {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.extra {
  display: none;
  font-family: "Niramit", sans-serif;
}

.extraLink {
  color: #a2453d;
}

@media (max-width: 780px) {
  .contenedorIniciarSesion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedorIniciarSesion .parteIniciarSesion {
    height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedorIniciarSesion .parteRightIniciarSesion {
    display: none;
  }
  .contenedorIniciarSesion .parteRegistrarse {
    display: none;
  }
  .extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5%;
  }
}

.grillas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

.grillas .nav {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grillas .grillasBoton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grillas .grillas2 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grillas .grillas2 .articulo1 .card .card-body .tituloVino {
  font-family: "Niramit", sans-serif;
  color: bisque;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.grillas .grillas2 .articulo1 .card .card-body .precio {
  text-align: center;
  font-family: "Niramit", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.grillas .grillas2 .articulo1 .modal-title {
  font-family: "Niramit", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #a2453d;
}

.grillas .grillas2 .articulo1 .modalFotoVino {
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grillas .grillas2 .articulo1 .textoDescripcionVino {
  margin-left: 10px;
  margin-top: 10px;
}

.grillas .grillas2 .articulo1 .textoDescripcionVino .descripcionVino {
  text-align: center;
  font-family: "Niramit", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.grillas .grillas2 .articulo1 .textoDescripcionVino .precioVino {
  font-size: 20px;
  color: #a2453d;
  font-family: "Niramit", sans-serif;
}

.grillas .botonPalabra {
  color: #a2453d;
  font-family: "Niramit", sans-serif;
  font-weight: bolder;
}

@media (max-width: 780px) {
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grillas {
    margin-left: 0%;
  }
  .grillasBoton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }
  .grillas2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .modalFotoVino {
    display: none;
  }
}

.grillasPedidos {
  margin-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 14px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2%;
  margin-left: 5px;
  margin-right: 5px;
}

.grillasPedidos .pedidoOrden {
  background-color: #a2453d;
  color: bisque;
  font-family: "Niramit", sans-serif;
  padding-left: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 8px;
  -webkit-box-shadow: 0 5px 5px #333;
          box-shadow: 0 5px 5px #333;
}

.contenedorDetalle {
  margin-top: 2%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 14px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2%;
}

.contenedorDetalle .detalleGeneral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

.contenedorDetalle .detalleGeneral .aDetalle {
  color: #333;
  margin-top: 1.5%;
}

.contenedorDetalle .detalleOrganizados {
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-box-shadow: 0 5px 5px #333;
          box-shadow: 0 5px 5px #333;
}

.contenedorDetalle .detalleOrganizados .imagenDetalle {
  width: 15%;
}

.contenedorDetalle .detalleOrganizados .explicacionDetalle {
  margin-left: 5%;
}

.contenedorDetalle .detalleOrganizados .explicacionDetalle .tituloDetalle {
  font-family: "Niramit", sans serif;
  font-size: 20px;
  color: bisque;
}

.contenedorDetalle .detalleOrganizados .explicacionDetalle .parrafoDetalle {
  font-family: "Niramit", sans serif;
  color: bisque;
  padding-top: 2%;
}

.contenedorDetalle .detalleOrganizados:hover {
  background-color: #a2453d;
}
/*# sourceMappingURL=estilos.css.map */